.dezena{
    border: 3px solid #ccc;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}